/* --- Common Demo Styles --- */

@import url("https://raw.githubusercontent.com/alsacreations/KNACSS/master/css/knacss.css");

body {
  background: #111;
  font-family: sans-serif;
}

/* --- Specific Demo Styles --- */

body.mobile #live-move {
  display: none;
}
body.mobile #url-container {
  display: none;
}
body.mobile #mobile-msg {
  display: block;
}
#mobile-msg {
 display: none;
 color: #fff;
 font-size: 24px;
 text-align: center;
}
#live-move {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  display: block;
}
#url-container {
  color: #fff;
  font-size: 24px;
  display: block;
  text-align: center;
}
